body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 40px;
}

.lists {
  width: 1120px;
  margin: 0 auto;
  display: block;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.list-title {
  font-size: 20px;
}

.list-item {
  width: 140px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  &--selected {
    background: #f0f0f0;
  }
}

.list-item:hover {
  background: red;
}

.list-item__img {
  position: absolute;
  font-size: 0;
  top: 50%;
  left: 50%;
  transform: translateY(-100%) translateX(-50%);
}

.list-item__title {
  text-align: center;
  font-size: 13px;
  top: calc(50% + 16px);
  left: 50%;
  transform: translateX(-50%) translateY(-4px);
  position: absolute;
  width: calc(100% - 40px);
  color: black;
}

.list + .list-title {
  margin-top: 40px;
}

.details {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  background: #f0f0f0;
  padding: 40px;
}

.details__title {
  font-size: 20px;
}

.details__img {
  margin-top: 16px;
}

.details__controls {
  margin-top: 24px;
}
