$list-item-size: 96px;
$list-item-size-sm: 64px;
$list-padding: 24px;

.layout {
  display: flex;
}

.layout__left {
  box-sizing: border-box;
  background: $grey-2;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: $br-small) {
  .layout__left {
    width: $list-item-size-sm + $list-padding * 2;
  }
}

@media screen and (min-width: $br-small) and (max-width: $br-med) {
  .layout__left {
    width: 2 * $list-item-size + $list-padding * 2;
  }
}

@media screen and (min-width: $br-med) {
  .layout__left {
    width: 3 * $list-item-size + $list-padding * 2;
  }
}

.layout__center {
  flex: 1;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid $grey-0;
  overflow: hidden;
}

.layout__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: $grey-5;
  padding: 12px 16px;
  background: $grey-2;
}

.layout__bottom a {
  color: $grey-6;
  text-decoration: none;
}
