$list-item-size: 96px;

.layout {
  display: flex;
}

.layout__left {
  box-sizing: border-box;
  width: $list-item-size * 3 + 48px;
  background: $grey-2;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout__center {
  flex: 1;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid $grey-0;
}

.layout__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: $grey-5;
  padding: 12px 16px;
  background: $grey-2;
}

.layout__bottom a {
  color: $grey-6;
  text-decoration: none;
}
