.lists {
  margin-top: 24px;
  padding: 0 $list-padding;
  padding-bottom: 24px;
  overflow-y: scroll;
}

.list {
  font-size: 0;
}

.list-title {
  margin-left: $br / 2;
  color: $grey-8;
  user-select: none;
}

.list + .list-title {
  margin-top: 24px;
}

.list-title + .list {
  margin-top: 16px;
}

.list-item {
  height: $list-item-size;
  width: $list-item-size;
  background: $grey-3;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  vertical-align: top;
  cursor: pointer;
  transition: $tr;
  padding: 8px;
}

.list-item--selected {
  background: $grey-4;
}

.list-item:hover {
  background: $grey-4;
}

@mixin calculate-br($col_number) {
  .list-item:nth-child(1) { border-top-left-radius: $br; }
  .list-item:nth-last-child(1) { border-bottom-right-radius: $br; }
  .list-item:nth-child(#{$col_number}) { border-top-right-radius: $br; }

  @for $i from 1 through $col_number {
    .list-item:nth-child(#{$col_number}n + 1).list-item:nth-last-child(#{$i}) {
      border-bottom-left-radius: $br;
    }

    .list-item:nth-child(#{$col_number}n).list-item:nth-last-child(#{$i}) {
      border-bottom-right-radius: $br;
    }
  }

  @for $i from 1 through $col_number - 1 {
    .list-item:nth-child(#{$i}).list-item:nth-last-child(1) {
      border-top-right-radius: $br; 
    }
  }
}

@media screen and (max-width: $br-small) {
  @include calculate-br(1);
}

@media screen and (min-width: $br-small + 1) and (max-width: $br-med) {
  @include calculate-br(2);
}

@media screen and (min-width: $br-med + 1) {
  @include calculate-br(3);
}

.list-item__title {
  margin-top: 8px;
  font-size: 12px;
  color: $grey-6;
  user-select: none;
  text-align: center;
  line-height: 1.2;
}
