@import './reset.css';

$grey-0: #1c1e26;
$grey-2: #1a1b23;
$grey-3: #212530;
$grey-4: #363b49;
$grey-4: #393f50;
$grey-6: #c1c8d6;
$grey-8: #d6dcf4;

$primary: #4d70ff;

$br-small: 916px;
$br-med: 1012px;

$br: 6px;
$tr: 0.2s;

body {
  font-family: 'Lato', sans-serif;
  color: white;
  background: $grey-3;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background: rgba($primary, 0.99);
  color: white;
}

@import './layout';
@import './list';
@import './detail';
@import './search';
