@import './reset.css';

$primary: hsl(235, 99%, 61%);

$grey-0: hsl(240, 14%, 9%);
$grey-2: hsl(240, 18%, 11%);
$grey-3: hsl(235, 21%, 14%);
$grey-4: hsl(230, 19%, 18%);
$grey-5: hsl(240, 14%, 30%);
$grey-6: hsl(240, 8%, 50%);
$grey-8: hsl(240, 20%, 80%);

$br: 4px;
$tr: 0.2s;

body {
  font-family: 'Lato', sans-serif;
  color: white;
  background: $grey-3;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background: rgba($primary, 0.99);
  color: white;
}

@import './layout';
@import './list';
@import './detail';
